@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  block-size: 35px;
  padding-block: 0;
  padding-inline: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 10px var(--blackA7);
  background-color: white;
  font-size: 13px;
  line-height: 1;
  color: var(--violet11);
}

.SelectTrigger:hover {
  background-color: var(--mauve3);
}

.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}

.SelectTrigger[data-placeholder] {
  color: var(--violet9);
}

.SelectIcon {
  color: Var(--violet11);
}

.SelectContent {
  border-radius: 6px;
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
  overflow: hidden;
  background-color: white;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  position: relative;
  display: flex;
  align-items: center;
  block-size: 25px;
  padding-block: 0;
  padding-inline: 25px 35px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1;
  color: var(--violet11);
  user-select: none;
}

.SelectItem[data-disabled] {
  color: var(--mauve8);
  pointer-events: none;
}

.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--violet9);
  color: var(--violet1);
}

.SelectLabel {
  padding-block: 0;
  padding-inline: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve11);
}

.SelectSeparator {
  block-size: 1px;
  margin: 5px;
  background-color: var(--violet6);
}

.SelectItemIndicator {
  position: absolute;
  display: inline-flex;
  inset-inline-start: 0;
  align-items: center;
  justify-content: center;
  inline-size: 25px;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 25px;
  background-color: white;
  color: var(--violet11);
  cursor: default;
}
