---
import PageBase from "../layouts/PageBase.astro";
const title = "Astro Selects";
---

<PageBase title={title}>
  <div class="stack">
    <h1>{title}</h1>

    <section class="stack">
      <h2>Local Data</h2>
    </section>

    <section class="stack">
      <h2>Fetched Data</h2>
    </section>
  </div>
</PageBase>
