/* Add vertical rhythm inside elements */

.flow-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    margin-block: 0;
  }

  > * + * {
    margin-block-start: var(--flow-space, var(--step-1, 1em));
  }
}
