---
import AstroButton from "./AstroButton.astro";

const { class: className } = Astro.props;
const { content, color, href, cta, background, paddingBlock, paddingInline } =
  Astro.props;
---

<section class={className}>
  <p>
    {content || <slot />}
    {href && <AstroButton href={href} cta={cta} />}
  </p>
</section>

<style define:vars={{ color, background, paddingBlock, paddingInline }}>
  section {
    color: var(--color, var(--clr-050));
    background-color: var(--background, var(--clr-800));
    text-align: center;
    padding-block: var(--paddingBlock, var(--space-xs));
    padding-inline: var(--paddingInline, var(--space-s));
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--step--1);
  }
</style>
